/* .container{
    display: flex;
    justify-content: space-between;
    background-color: rgb(211, 211, 211);
    padding: 10px 10px;
}
.content{
    display: inline;
    padding: 10px;
}
a{
    text-decoration: none;
    padding: 20px;
    color: black;
    cursor: pointer;
} */